<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
    <script src="https://js.paystack.co/v1/inline.js"></script>
  </head>
  <body>
    <nav>
      <ul>
        <li>AiBluck</li>
      </ul>
    </nav>
    <div class='container'>
      <header>
        <h1>Payment || Details</h1>
      </header>
      <main>
        <table>
          <tr>
            <th>Amount(Naira)</th>
            <td>₦<%= trans.naira_amount %></td>
          </tr>
          <tr>
            <th>Amount(Dollar)</th>
            <td>$<%= trans.dollar_amount %></td>
          </tr>
          <tr>
            <th>Quantity</th>
            <td><%= trans.crypto_amount %></td>
          </tr>
          <tr>
            <th>Price</th>
            <td><%= trans.coin_value %> per <%= trans.crypto_type %></td>
          </tr>
          <tr>
            <th>Cryptocurrency</th>
            <td><%= trans.crypto_type %></td>
          </tr>
          <tr>
            <th>Wallet Address</th>
            <td><%= trans.wallet_address %></td>
          </tr>
        </table>
        <span>Transaction ID: <%= trans.trans_id %></span>
        <form><button class="button" type="button" onclick="payWithPaystack()"> Pay </button></form>
        <!--<form>
          <a class = "flwpug_getpaid" 
          data-PBFPubKey = "FLWPUBK-57a1c8aa3b688358941d6029a0a2c36a-X" 
          data-txref = "<%= trans.trans_id %>" 
          data-amount = "<%= trans.naira_amount %>" 
          data-customer_email="mafulun4real@gmail.com" 
          data-currency="NGN" 
          data-pay_button_text="Pay Now" 
          data-country="NG" 
          data-redirect_url="https://b272697c.ngrok.io/hook"></a>

          <script type="text/javascript" src="https://ravesandboxapi.flutterwave.com/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>
        </form>-->
      </main>
    </div>
    <script>
      function closeWindow() {
        window.open('','_parent','');
        window.close();
      }

      function payWithPaystack(){
        var amt = +"<%= trans.naira_amount %>" * 100;
        var handler = PaystackPop.setup({
          key: 'pk_test_5c768d427068a1737b7b5538dcfd747dbfe1e6c6',
          email: 'customer@email.com',
          amount: amt,
          ref: "<%= trans.trans_id %>", // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
          metadata: {
            custom_fields: [
                {
                    display_name: "Mobile Number",
                    variable_name: "mobile_number",
                    value: "+2348012345678"
                }
            ]
          },
          callback: function(response){
              alert('success. transaction ref is ' + response.reference);
              closeWindow();
          },
          onClose: function(){
            console.log('Frame closed')
          }
        });
        handler.openIframe();
      }
    </script>
  </body>
</html>
