body {
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	background: #353b48;
	color: white;
}

.container {
	width: 700px;
	margin: 0 auto;
}

p {
	color: #f8f8f8;
}

nav {
	background: #ff5353;
	padding: 20px 10px;
}
nav ul {
	max-width: 960px;
	margin: 0 auto;
	padding: 0;
}
nav li {
	list-style-type: none;
	display: inline-block;
	align-self: center;
	margin: 0 10px 0 0;
	font-size: 30px;
}
nav a {
	color: #fff;
	font-size: 18px;
	background: rgba(255, 255, 255, 0.2);
	text-decoration: none;
	padding: 10px;
	display: block;
}
main,
header {
	max-width: 960px;
	margin: 30px auto;
	padding: 0 10px;
	color: #fff;
	margin: 0 auto;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	background: white;
	color: black;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 10px;
}

td,
th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 5px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

.button {
	background-color: #ff5353; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
